<div id="section-selector" class="btn-group" role="group" aria-label="Basic example">
  <button id="btn-orders" type="button" class="btn btn-secondary active">Orders</button>
  <button id="btn-profile" type="button" class="btn btn-secondary">Profile</button>
</div>

<hr>

{{!-- <form id="profile" class="d-none"> --}}
  <div id="profile" class="d-none">
    <h3 class="mb-4">Profile</h3>
    <div class="form-row">
      <div class="col">
        <label for="username">User name</label>
        <input id="username" type="text" name="username" class="form-control" placeholder="Entre user name"
          value="{{session.user.username}}">
      </div>
      <div class="col">
        <label for="usernumber">User number</label>
        <input id="usernumber" type="text" name="usernumber" class="form-control" disabled value="182943">
      </div>
      <div class="col">
        <label for="phone">Phone number</label>
        <input id="phone"  type="text" name="phone" class="form-control" placeholder="Enter phone number" value="+34 612 781 912">
      </div>
    </div>
  </div>
  {{!--
</form> --}}

{{#if orders}}
<div id="orders" class="col">
  <h3 class="mb-4">Orders</h3>
  <table id="orders-table" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Order number</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <th scope="row">{{this.createdAt}}</th>
        <td>{{this.order_number}}</td>
        <td>{{this.total_amount}} €</td>
        <th id="status-col">{{this.status}}</th>
        <th id="options-col">
          <form class="d-inline" action="/orders/refund-paypal-transaction" method="POST">
            <input required class="d-none" name="orderId" value="{{this.order_number}}">
            <button id="btn-refund" class="btn btn-primary">
              refund
            </button>
          </form>
          <!-- Boton mostrar detalles un pedido -->
          {{!-- <form class="d-inline" action="#" method="POST">
            <input required class="d-none" name="paymentId" value="{{this._id}}">
            <button id="login-button" class="btn btn-primary">
              details
            </button>
          </form> --}}
        </th>
      </tr>
      {{/each}}
      {{!-- <tr>
        <th scope="row">08/12/2020</th>
        <td>product 8</td>
        <td>77 €</td>
      </tr>
      <tr>
        <th scope="row">08/12/2020</th>
        <td>product 8</td>
        <td>77 €</td>
      </tr>
      <tr>
        <th scope="row">08/12/2020</th>
        <td>product 8</td>
        <td>77 €</td>
      </tr> --}}
    </tbody>
  </table>
</div>
{{else}}
<h3 id="orders">You don't have any orders yet.</h3>
{{/if}}