{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{#if products}}

<div id="products-list" class="row text-center">
    {{#each products.results}}
    <div class="mb-4 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="/images/laptop-pic.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.price}}&euro;</p>
                <a id="btn-buy-product" href="/products/{{this._id}}" class="btn btn-primary">Comprar producto</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<hr />

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{!-- <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li> --}}
        {{#if products.previousPage}}
        <li class="page-item"><a id="previousPage" class="page-link"
                href="products?page={{products.previousPage}}">{{products.previousPage}}</a>
        </li>
        {{/if}}
        <li class="page-item"><a class="page-link bg-primary text-white">{{products.currPage}}</a></li>
        {{#if products.nextPage}}
        <li class="page-item"><a id="nextPage" class="page-link"
                href="products?page={{products.nextPage}}">{{products.nextPage}}</a>
        </li>
        {{/if}}
        {{!-- <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li> --}}
    </ul>
</nav>
{{/if}}