<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <title>{{tittle}}</title>
</head>

<body class="container">

    <!-- HEADER -->
    <div id="header" class="container text-center p-3 bg-secondary text-white rounded">
        <h1>eCommerce</h1>
    </div>

    {{!-- NAVBAR --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a id="nav-home-link" class="nav-link" href="/products">Home</a>
                </li>
                {{!-- Si usuario logueado muestra zona persona y cierre sesión --}}
                {{#if session.user}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                {{!-- Si usuario NO logueado muestra inicio sesión y alta --}}
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/signup">Signup</a>
                </li>
                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/products/search" method="POST">
                <input id="tb-search" name="name" class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search">
                <button id="btn-search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container" align="center">
        {{!-- {{{body}}} es cualquiera de las otras vistas --}}
        {{{body}}}
    </div>

    <script src="/javascripts/index.js"></script>

</body>

</html>