{{!-- Si hay errores los recorre y muesta --}}
{{#each errors}}
<div id="error-msg" class="m-3 alert alert-danger" role="alert">
    {{this.msg}}
</div>
{{/each}}
{{!-- <form class="w-50 m-3" action="/users/login" method="POST"> --}}
    <form id="login-form" class="container w-50 text-center m-3" action="/users/login" method="POST">
        <div class="form-group">
            <label for="email">User name</label>
            <input required id="email" type="email" class="form-control" name="email" placeholder="Enter email">
            {{!-- <input required id="email" class="form-control" name="email" placeholder="Enter email"> --}}
        </div>
        <div class="form-group">
            <label for="password">Enter password</label>
            {{!-- <input required pattern="[a-zA-Z0-9 ]{12,24}" id="password" type="password" class="form-control"
                name="password" placeholder="Password"> --}}
            <input required id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button id="login-button" class="btn btn-primary">Login</button>
    </form>

    <hr>

    <div class="container w-50 text-center m-3">
        <p>Or signup if you don't have an account</p>
        <a id="redirect-to-signup" href="/users/signup" class="btn btn-primary">Singup</a>
    </div>