{{!-- Página de no encontrado más agradable al usuario --}}
<div id="not-found-container" class="container text-center">
    <h1 class="my-5">Content not Found: 404</h1>
    <a class="btn btn-primary" href="/products">Return to main page</a>
</div>