<div class="row text-center">
    <img id="prod-img" class="col" src="/images/laptop-pic.jpg" alt="Card image cap" />
    <div class="my-5 col" id="product" value="{{product._id}}">
        <h5 class="">{{product.name}}</h5>
        <p class="">{{product.price}} &euro; + 10 &euro; (shipment)</p>
        {{!-- Si usuario logueado muestra botón de compra --}}
        {{#if session.user}}
        {{!-- <p>PAYPAL BUTTON GOES HERE</p> --}}
        <script
            src="https://www.paypal.com/sdk/js?client-id={{paypalClientId}}&currency=EUR&intent=capture&commit=true"
            > // Required. Replace SB_CLIENT_ID with your sandbox client ID.
            </script>

        <div id="paypal-button-container"></div>

        {{!-- Script encagado realiza pago y una vez aprobado enviarlo a rest-api --}}
        <script>
            paypal.Buttons({
                {{!-- Deja únicamente botón de pago de Paypal--}}
                fundingSource: paypal.FUNDING.PAYPAL,
                {{!-- Suscripción al evento creación de pedido--}}
                createOrder: function (data, actions) {
                    // This function sets up the details of the transaction, including the amount and line item details.
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{product.price}}'
                            }
                        }]
                    });
                },
                //Suscripción al evento autorización del pedido
                onApprove: function (data, actions) {
                    return fetch('/orders/capture-paypal-transaction', {
                        method: 'post',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID,
                            prodId: document.getElementById('product').getAttribute('value')
                        })
                    }).then(function () {
                        alert('Transaction completed');
                    }).catch(() => alert('Error creating order'))
                }
            }).render('#paypal-button-container');
                     // This function displays Smart Payment Buttons on your web page.
        </script>
        {{!-- Si usuario no logueado muesta botón redirección a
        formulario de incio de sesión --}}
        {{else}}
        <a id="btn-redirect-login" href="/users/login" class="my-4 btn btn-primary btn-lg">Login to purchase</a>
        {{/if}}
        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ducimus quisquam sequi eveniet,
            esse expedita
            ad nobis laboriosam fugiat repellat tempora error rerum sunt tempore numquam distinctio enim amet eius?</p>
    </div>
</div>