{{!-- Si hay errores los recorre y muestra --}}
{{#each errors}}
<div id="error-msg" class="m-3 alert alert-danger" role="alert">
    {{this.msg}}
</div>
{{/each}}

{{!-- Si hay productos los recorre y muestra --}}
{{#if products}}
<div id="products-list" class="row text-center">
    {{#each products}}
    <div class="mb-4 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="/images/laptop-pic.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.price}}&euro;</p>
                {{!-- Enlace a producto especifico --}}
                <a href="/products/{{this._id}}" class="btn btn-primary">Comprar producto</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{!-- Si no hay products informa a usuario --}}
{{else}}
<div id="any-prod-found-div" class="container text-center">
    <h3 class="my-5">Any products found</h3>
    <a class="btn btn-primary" href="/products">Return to main page</a>
</div>
{{/if}}