{{#each errors}}
<div id="error-msg" class="m-3 alert alert-danger" role="alert">
    {{this.msg}}
</div>
{{/each}}
{{!-- <form class="w-50 m-3" action="/users/login" method="POST"> --}}
    <form id="signup-form" class="container w-50 text-center m-3" action="/users/signup" method="POST">
        <div class="form-group">
            <label for="email">User name</label>
            <input required value="{{email}}" id="email" type="email" class="form-control" name="email"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Enter password</label>
            {{!-- <input required pattern="[a-zA-Z0-9 ]{12,24}" id="password" type="password" class="form-control"
                name="password" placeholder="Password"> --}}
            <input required id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Enter confirmation password</label>
            {{!-- <input required pattern="[a-zA-Z0-9 ]{12,24}" id="password" type="password" class="form-control"
                name="password" placeholder="Password"> --}}
            <input required id="confirmPassword" type="password" class="form-control" name="confirmPassword"
                placeholder="Confirmation password">
        </div>
        <button id="signup-button" class="btn btn-primary">Signup</button>
    </form>

    <hr>

    <div class="container w-50 text-center m-3">
        <p>Or login if you have an account</p>
        <a id="redirect-to-login" href="/users/login" class="btn btn-primary">Login</a>
    </div>